<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="fileDebug" fileName="log/log4jdebug.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="fileError" fileName="log/log4jerror.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="all">
       <AppenderRef level="error" ref="fileError"/>
       <AppenderRef level="debug" ref="fileDebug"/>
    </Root>
  </Loggers>
</Configuration>